/* GENERAL */

/* Header fix for no drawer (hamburger) */
.mdl-layout__header-row {
  padding: 0 40px;
}
.mdl-layout.has-drawer .mdl-layout__header-row {
  padding: 0 40px 0 80px;
}

/* PAGE WIDTH */
.mdl-layout--fixed-header .mdl-layout__tab-panel{
    width: 1400px;
}

.mdl-layout__content {
    align: left;

}

/* TEMP - testing for scroll up buttons */
/* .page-content {
  max-height: 600px;
  overflow: auto;
}
.tabs--body .page-content{
  height:100%;
  min-height:400px;
} */

/* Padding for all page content in each tab panel */
.mdl-layout__tab-panel {
    float: left;
    width: 1400px;
    margin: 0 auto;
    background: white;
    padding: 20px;
}

/* Highlight fill colours */
.hlBlue {
  /* MDL - mdl-color--blue-100 */
  background: #BBDEFB;
}
.hlBlue200 {
  /* MDL - mdl-color--blue-200 */
  background: #90CAF9;
}
.hlYellow {
  /* MDL - mdl-color--yellow-A100 */
  background: #FFFF8D;
}
.hlGreen{
  /* MDL - mdl-color--light-green-A100 */
  background: #CCFF90;
}
.hlGreen200{
  /* MDL - mdl-color--light-green-A200 */
  /* background: #B2FF59; */
  /* Custom solour to not be as harsh as green-A200 */
  background: #bcff70;
}
.hlPurple{
  /* MDL - mdl-color--purple-100 */
  background: #E1BEE7;
}
.hlRed{
  /* MDL - mdl-color--red-100 */
  background: #FFCDD2;
}
.hlLightGray1{
  /* MDL - mdl-color--gray-100 */
  background: #F5F5F5;
}
.hlWarningRed{
  /* MDL - mdl-color--red-400 */
  background: #EF5350;
}
.hlGray{
  /* MDL - mdl-color--grey-400 */
  background: #bdbdbd;
}
.hlLightGray2{
  /* MDL - mdl-color--grey-200 */
  background: #e0e0e0;
}
/* MAIN MENU PAGE */

/* Menu button table - pad top*/
td.menu {
    padding: 10px;
}

/****************** RISK ANALYSIS ****************/

/* Impact assessmnet page */
/* Impact table custom cell text */
th.impact-header {
    font-size: 16px;
}
th.blank, td.blank {
    padding: 0px;
    border: 0px;
    width: 5px;
    /* MDL - mdl-color--gray-100 */
    background: #F5F5F5;
}
th.impact-column {
    width: 200px;
}
th.width400 {
  width: 400px;
  padding: 8px 8px;
}

/****************** DECISION MAKING ****************/
/* PROBLEM SETUP PAGE */

/* ALL TEXT FIELDS 100% width */
.mdl-textfield {
    width: 100%;
}

/* Narrow tables - 600 wide*/
table.narrow {
    width: 600px;
}
/* Narrow cells - reduce vertical padding*/
td.narrow {
    padding: 0px 12px;
}

/* Add/Remove buttons table - pad down from main table */
.button-table {
    padding-top: 5px;
}

/* Project title table - left column*/
td.project-setup.left {
    width: 30%;
}
/* Use to expand cell to fill rest of table width */
td.fillWidth {
    background: white;
    width: 100%;
}

/* DATA ENTRY PAGE */
table.criteria-table {
  table-layout: fixed;
  width: 500px;
  text-align: center;
}
/* Cell widths for criteria table */
/* Wide first column */
th.width300 {
  width: 300px;
  padding: 8px 8px;
}
/* Weight columns - for max 14 characters in criteria name */
th.width150 {
  width: 150px;
  padding: 8px 8px;
}
/* wrap text in cell */
th.wrap {
    white-space: normal;
    word-wrap:break-word
}
/* reduce size of header text */
th.smallText {
    font-size: 12px;
}
/* Center and reduce width for number inputs*/
input.number {
  text-align: center;
  width: 50px;
}
td.number div.number {
text-align: center;
width: 50px;
}
/* Centre warning label for percentage validation */
.mdl-textfield__error {
    margin-left: -25px;
}
/* Override offset padding on last number cell */
#lastNumber{
  padding: 8px 8px !important;
}
/* Reduce extra padding from last in row */
/* .mdl-data-table th:last-of-type .number,
.mdl-data-table  td:last-of-type{
  padding: 8px 8px;
}  */


label.input-custom-file input[type=file] {
  display: none;
}









/****************** OLD *********************

/* Risk Categories */
/* Risk Categories table - left column*/
th.risk-cats.left {
    background: white;
    width: 80%;
}
/* Risk Categories table - right column*/
th.risk-cats.right {
    background: white;
    width: 20%;
}
/* Center in cell (for checkboxes) */
.mdl-data-table__cell--center.mdl-data-table__cell--center{
    text-align:center
}


/* RISK CATEGORIES PAGE */

/* Risk tables */
.mdl-data-table.risk-table {
    background: white;
    width: 1200px;
}
/* Add/Remove buttons table */
.button-table-risks {
    background: white;
    width: 1200px;
    padding-top: 5px;
}





/* FOR LATER TABLE - VERTICLE LINES - ADAPT */
/* td {
  border-right: solid 1px #f00;
  border-left: solid 1px #f00;
} */

/* FOR LATER TABLE - REMOVE PADDING FROM TEXT FIELD - ADAPT */
/* NOTE!!! LABEL TEXT DOES NOT WORK */
/* .mdl-textfield{
    padding: 0;
} */

/* FOR LATER TABLE - CENTER TEXT IN INPUT - USE FOR NUMBER INPUT CELLS? - ADAPT */
/* .mdl-textfield__input {
    text-align: center !important;
} */
